extends layout

block content
  h1= title
  p= contact.firstName + ' '+ contact.lastName
  div.contact-actions  
     a(href=`/contacts/${contact.id}/delete`) Delete Contact 
     | 
     br
     a(href=`/contacts/${contact.id}/edit`) Edit Contact 
