extends layout

block content
  h1= title
  br
  h2 Intro of the Application:
  p Welcome to #{title}. This application stores all my contactor's information, including name, email address,
  p and contact notes. You can add, delete, modify and query contact informations within this application.
  h2 Author's Contact Information: 
  p Name: Wenkun Ren
  p Email: wren6@hawk.iit.edu
  p Mobile: 3127539086
  p Major: Software Development
  br
  a(href=`/contacts`) View Contact Database

